name: Keep Render Alive

on:
  schedule:
   - cron: "*/10 * * * *"
   # Run every 5 minutes
  workflow_dispatch:        # Allow manual runs

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: |
          curl -I https://cpportfolio.onrender.com || true
